<!DOCTYPE html>
<html xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorate="~{layout}">

<head>
    <title th:text="#{cas.oauth.confirm.pagetitle}"></title>
</head>

<body id="cas">
    <div layout:fragment="content" class="mdc-card card p-4 m-auto w-lg-66 cas-consent">
        <div id="scopeContainer" class="d-none">
            <div th:replace="~{fragments/consent :: appHeader(${service.name}, ${service.description}, ${service.logo}, #{screen.oauth.confirm.header})}"/>

            <section id="scopes" class="cas-consent-section" th:unless="${#sets.isEmpty(scopes)}">
                <h3 th:text="#{screen.oauth.confirm.scopes}"/>
                <p class="cas-consent-hint" th:text="#{screen.oauth.confirm.asksinfo}"/>
                <ul class="cas-perm-list">
                    <th:block th:each="scope : ${scopes}"><li th:replace="~{fragments/consent :: permission(${scope}, ${#messages.msgOrNull('screen.oauth.confirm.scope.' + scope)}, 'scope')}"/></th:block>
                </ul>
            </section>

            <p class="cas-consent-question" th:text="#{screen.oauth.confirm.message(${service.name})}"/>
            <div class="cas-consent-actions">
                <a class="mdc-button mdc-button--raised btn btn-primary drop-button" id="allow" th:href="@{${callbackUrl}}">
                    <span class="mdc-button__label" th:text="#{screen.oauth.confirm.allow}">Allow</span>
                </a>
            </div>
        </div>

        <div id="progressPanel" class="d-none">
            <h2 id="processingTitle" th:utext="#{screen.processing.title}"></h2>
            <p id="processingText" th:utext="#{screen.oauth.confirm.processing}"></p>
            <div id="progressBar" role="progressbar" class="mdc-linear-progress mdc-linear-progress--indeterminate">
                <div class="mdc-linear-progress__buffer">
                    <div class="mdc-linear-progress__buffer-bar"></div>
                    <div class="mdc-linear-progress__buffer-dots"></div>
                </div>
                <div class="mdc-linear-progress__bar mdc-linear-progress__primary-bar">
                    <span class="mdc-linear-progress__bar-inner"></span>
                </div>
                <div class="mdc-linear-progress__bar mdc-linear-progress__secondary-bar">
                    <span class="mdc-linear-progress__bar-inner"></span>
                </div>
            </div>
        </div>
        
        <script th:inline="javascript">
            const approvalKey = /*[[${approvalKey}]]*/ "";
            const recordKey = /*[[${recordKey}]]*/ "";
            handleScopeApproval(approvalKey, recordKey, "cas-oauth-consent-scope");
        </script>
    </div>
</body>

</html>
